.productDetailsContainer {
    display: flex;
    justify-content: space-between;
    gap: 350px;
    margin: 20px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
  }
  
  .productImage {
    flex: 1;
    padding: 20px;
  }
  
  .productImage img {
    margin-left: 200px;
    border-radius: 5px;
  }
  
  .productInfo {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .productTitle {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .productRating {
    margin-bottom: 10px;
  }
  
  .ratingBox {
    margin-top: 20px;
    display: flex;
    display: inline-block;
  }
  
  .rating {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 3px;
    margin-right: 5px;
  }
  
  .bankOffer{
    color: black;
}

.terms{
    color: rgba(40, 116, 240, 1);
}

  .productPrice {
    font-size: 20px;
    /* margin-bottom: 10px; */
    color: #333;
  }
  
  .availableOffers {
    margin-top: 5px;
  }
  
  .availableOffers h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .availableOffers ul {
    list-style-type: none;
    padding: 0;
  }
  
  .availableOffers li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #666;
  }

  .moreOffers ul {
    list-style-type: none;
    padding: 0;
  }
  
  .moreOffers li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #666;
  }

  .ratingAndReview{
    color: #666;
}

  .moreOffersHeading{
    color: orangered;
}

  .newPrice{
    font-size: larger;
}
  .oldPrice{
        text-decoration: line-through;
        margin-left: 10px;
        font-size: medium;
    }

    .discount{
        margin-left: 10px;
        font-size: small;
        color: orangered;
        font-weight: 700;
    }

    .buyButtons{
        margin-top: 20px;
        margin-left: 120px;
        display: flex;
        gap: 20px;
        width: 500px;
    }

    .addToCartButton {
        border: 2px solid orangered; 
        background-color: white;
        color: orangered; 
        padding: 10px 20px; 
        font-size: 16px; 
        font-weight: bold; 
        text-transform: uppercase; 
        cursor: pointer;
        transition: all 0.3s ease; 
      }
      
      .addToCartButton:hover {
        background-color: orangered;
        color: white; 
      }
      

    .buyNowButton{
        background-color: black;
        color: white;
        font-weight: 800;
        display: flex;
        padding: 15px 40px;
    }

    @media only screen and (max-width: 768px) {
      .productDetailsContainer {
        overflow: hidden;
        flex-direction: column; 
        gap: 20px; 
      }
    
      .productImage img {
        margin-left: 0; 
      }
    
      .buyButtons {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        /* flex-direction: column;  */
        gap: 10px; 
      }

      .addToCartButton{
        width: fit-content;
        /* padding: 4px 5px; */
      }

      .buyNowButton{
        width: fit-content;
        /* padding: 4px 5px; */
      }
    }