.heading {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

.product-table-container {
  margin: 20px;
  overflow-x: auto;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-image {
  max-width: 100px;
  height: auto;
}

.product-table button {
  margin-right: 5px;
}

.product-details-heading {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 1; 
}

.image-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (max-width: 600px) {
  .product-table-container {
    overflow-x: auto;
  }
  .product-table th,
  .product-table td {
    white-space: nowrap;
    min-width: 100px;
  }
  .heading {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
  }
}
